# When running in development, Vite proxies /api → http://localhost:3000
# so you usually don't need to change this.
# For production builds, set your real backend URL:
VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID="158670106720-kkmb9jb4osfcukv03g8rqq1q6433o3ig.apps.googleusercontent.com"
